<% title "User" %>

<p>
  <strong>Email:</strong>
  <%=h @user.email %>
</p>
<p>
  <strong>Avatar:</strong>
  <%= image_tag(@user.avatar_url(:thumb)) if @user.avatar_url %>
</p>

<p>
  <%= link_to "Edit", edit_user_path(@user) %> |
  <%= link_to "Destroy", @user, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", users_path %>
</p>
